:root {
    --white: #FFFFFF;
    --padawan-color: #DE851D;
    --master-color: #16D71E;
    --jedi-color: #0FC9BE;
    --grey-color: #D9D9D9;
    --light-grey-color: #EFEFEF;
    --primary-color: #DE851D;
}